/*Resetear estilos por default*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /*Declaramos variables en el root*/
  --color-fondo: #1a1a1d;
  --color-componente: #3b1c32;
  --text-color: #fff;
}
body {
  background-color: var(--color-fondo);
  color: #fff;
}

h1 {
  text-align: center;
  font-family: "Rubik", serif;
  font-weight: 400;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border-radius: 2px;
}

a {
  color: var(--text-color);
}
p {
  font-family: "Rubik", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
section {
  background-color: var(--color-componente);
  max-width: 600px;
  margin: 6px auto;
  padding: 4px 0 4px 4px;
}
section h2,
h3 {
  text-align: center;
}

footer {
  background-color: var(--color-fondo);
  color: var(--text-color);
  text-align: center;
  padding: 10px;
}
footer address {
  display: inline;
}
